h1 {
  font-size: clamp(1.9rem, 2.5vw, 3rem);  
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
  white-space: normal;
  max-width: 100%;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;          
  align-items: center;         
  justify-content: flex-start; 
  gap: 20px;                   
  padding: 10px;
  text-align: left;
}

.logo-desktop,
.logo-mobile {
  height: clamp(40px, 8vw, 80px);
  width: auto;
}

.logo-mobile {
  display: none;
}

@media (max-width: 576px) {
  .logo-desktop {
      display: none;
  }
  .logo-mobile {
      display: none;   
  }
 }

@media (min-width: 577px) and (max-width: 991px) {
  .logo-desktop {
      display: none;
  }
  .logo-mobile {
      display: block;
      height: clamp(40px, 8vw, 80px);
  }
}

@media (min-width: 992px) {
  .logo-desktop {
      display: block;
  }
  .logo-mobile {
      display: none;
  }
}